<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package
            android:name="com.baidu.input_mi"
            tools:node="remove" />
        <package android:name="com.baidu.input_mi.debug" />
    </queries>

    <application>
        <activity
            android:name=".AboutActivity"
            android:directBootAware="true"
            android:exported="true"
            android:theme="@style/DeviceSettingsTheme"
            tools:targetApi="24">
            <intent-filter>
                <action
                    android:name="com.baidu.input_mi.plugin.MANIFEST"
                    tools:node="remove" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.baidu.input_mi.debug.plugin.MANIFEST" />
            </intent-filter>
        </activity>
    </application>
</manifest>